<aside class="main-menu">
    <div class="branding">
        <div class="left">
            <a href="#" class="brand">BatBOX</a>
        </div>
        <div class="right">
            <ul class="inline-list">
                <li><a href="#"><i class="fa fa-home icon-top-bar"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope icon-small icon-top-bar"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="logged-in-as">
        Logged In As:
        <span class="name">Kirk Bater</span>
    </div>
    <div class="menu">
        <ul class="icon-list">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>&nbsp; Dashboard</a></li>
            <li><a href="/projects"><i class="fa fa-desktop fa-fw"></i>&nbsp; Projects</a></li>
            <li><a href="#"><i class="fa fa-clock-o fa-fw"></i>&nbsp; Time Track</a></li>
            <li><a href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
        </ul>
    </div>
</aside>