<header class="top-bar">

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <section class="right">

        </section>

        <!-- Left Nav Section -->
        <section class="left">
            <a class="left-off-canvas-toggle" href="#" ><i class="fa fa-bars icon-large icon-top-bar"></i></a>
        </section>
    </section>
</header>