<header class="top-bar">

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <section class="right">

        </section>

        <!-- Left Nav Section -->
        <section class="left">
            <ul class="inline-list">
                <li class="no-margin-left"><a class="left-off-canvas-toggle" href="#" ><i class="fa fa-bars icon-large icon-top-bar"></i></a></li>
                <li class="search-container position-container"><label for="project-search" id="project-search-button"><i class="fa fa-search icon-medium icon-top-bar"></i></label><input type="search" name="project-search" id="project-search" class="no-border light-border-on-focus" placeholder="Search Projects" /></li>
            </ul>
        </section>
    </section>
</header>