<header class="top-bar">
    <!-- Right Nav Section -->
    <section class="right">
        <ul class="inline-list">
            <li><a href="#" class="user-name">Kirk Bater <i class="fa fa-angle-down padded-left"></i></a></li>
            <li><a href="#"><i class="fa fa-cog padded-left padded-right icon-top-bar"></i></a></li>
        </ul>
    </section>

    <!-- Left Nav Section -->
    <section class="left">
        <ul class="inline-list">
            <li class="no-margin-left"><a class="left-off-canvas-toggle" href="#" ><i class="fa fa-bars icon-large icon-top-bar"></i></a></li>
            <li class="search-container position-container"><label for="project-search" id="project-search-button"><i class="fa fa-search icon-medium icon-top-bar"></i></label><input type="search" name="project-search" id="project-search" class="no-border light-border-on-focus" placeholder="Search Projects" /></li>
        </ul>
    </section>
</header>