<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titleTag %}Dashboard{% endblock %} | BatBOX</title>

    {# List Global Styles here, and then include any from templates below #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="assets/css/app.css" rel="stylesheet">
    {% block styles %}{% endblock %}

    {# List Global Scripts here, and then include any from templates below #}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="assets/js/main.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body class="">
    {% block mainMenu %}{% endblock %}
    <div class="menu-wrapper">
        {% block topbar %}{% endblock %}
        <main>
            {% block head %}{% endblock %}
            {% block page %}{% endblock %}
            {% block foot %}{% endblock %}
        </main>
    </div>
</body>
</html>