.icon-small {
  font-size: .75rem;
}

.icon-large {
  font-size: 1.75rem;
}

.fa {
  vertical-align: middle;
}

.icon-top-bar {
  line-height: 60px;
}

ul.icon-list {
  .fa {
    font-size: 1rem;
    line-height: 2.3rem;
    height: 2.5rem;
  }

  a {
    height: 2.5rem;
    line-height: 2.5rem;
    display: block;
  }
}