.top-bar {
  @include plr(1em);
  @include clearfix;
  height: 60px;
  background: $white;

  .inline-list {
    margin-bottom: 0;
  }

  .no-margin-left {
    margin-left: 0;
  }

  section.left {
    width: 75%;

    @include mq($small-only) {
      width: 100%;
    }

    @include mq($medium-only) {
      width: 60%;
    }
  }

  .search-container {
    width: calc(100% - 3.9rem);
  }

  #project-search-button {
    position: absolute;
    left: .5rem;
  }

  #project-search { // Search Box
    margin-top: 12px;
    padding-left: 2em;
    width: 100%;
    margin-bottom: 0;
  }


  .right {
    @include mq($small-only) {
      display: none;
    }
  }
  .user-name {
    line-height: 60px;
    font-weight: bold;

    .fa {
      margin-top: -3px;
    }
  }

  .padded-left {
    padding-left: .25em;
  }
  .padded-right {
    padding-left: .25em;
  }
}