html, body {
  background: $jet;
}

a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

.menu-wrapper {
  background: $silver;
  min-height: 100%;
  @include clearfix;
}

main {
  @include pad(1em default);
}

.position-container {
  position: relative;
}

.left {
  float: left;
}

.right {
  float: right;
}