html, body {
  background: $jet;
}

.menu-wrapper {
  background: $silver;
  min-height: 100%;
  @include clearfix;
}

main {
  @include grid-column(12);
}

.position-container {
  position: relative;
}